
.header
{
    /* width: 100%; */
    height: 70px;
    /* background-color: #060707; */
    display: flex;
    justify-content: space-between;
    padding: 0px 2%;
    border-bottom: 1px solid #2c2c2c;
    /* background-color: grey; */
    /* background-color: #1e1f20; */
}
.logo{
    align-items: center;
    /* background-color: aquamarine; */
    display: flex;
    column-gap: 10px;
    
}
.logo h2{
   margin:10px;
}
.navigation{
    width: fit-content;
    display: flex;
    padding: 5px;
    column-gap: 10px;
    /* background-color: red; */
    

}
.navlinks{
    width: fit-content;
    display: flex;
    align-items: center;
    column-gap: 70px;
    font-weight: bold;
    font-size: 25px;
}
.navlink{
    padding: 21px 0px;
}
.navlink:first-child
{
    border-bottom: 4px solid #d9008d;
}
.search{
    /* width: fit-content;
    height: 70px;
    background-color: blue;
    display: flex;
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
    

}
.searchbox{
    width: fit-content;
    height: 50px;
    /* background-color: green; */
    background-color: #2c2c2c;
    border-radius: 18px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 0px 15px;

}
.searchinput{
    height: 50px;
    width: 300px;
    outline: white;
    
    color: black;
    border-radius: 15px;  
   

}
.usericon
{
    height: 40px;
    width: fit-content;
    /* background-color: #d9008d; */
    padding-right: 10px;
    padding-top: 15px;
    cursor: pointer;
}
.button{
    display: flex;
    column-gap: 30px;
    width: fit-content;
    /* background-color: #d9008d; */
    height: 70px;
    padding-left: 25px;
    color: black;
    align-items: center;
    border-radius: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-style: oblique;
    padding-right: 10px;
    font-size: 20px;
    padding-bottom: 20px;


}
.section
{
    width: 100%;
    height: 5px;
    background-color: grey;
}
.section2
{
    width: 100%;
    height: 150px;
    /* background-color: yellow; */
}
.about{
    display: flex;
    column-gap: 50px;
    width: fit-content;
    /* background-color: #d9008d; */
    height: 70px;
    padding-left: 50px;
    color: black;
    align-items: center;
    border-radius: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-style: oblique;
    padding-right: 5px;
    font-size: 25px;
}
.book1{
    display: flex;
    height: 250px;
    width: 210px;
    column-gap: 70px;
    
}
.section3
{
    width: 100%;
    height: 150px;
    /* background-color: yellow; */
    padding-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 150px;
    padding-left: 30px;
    
}
.imagebutton{
    display: flex;
    height: 250px;
    width: 200px;
    column-gap: 70px;
    background-color: none;
    border: none;
    cursor: pointer;
}
.borrow{
    cursor: pointer;
    border-radius: 5px;
    column-gap: 5px;
}
.save{
    cursor: pointer;
    border-radius: 5px;
    column-gap: 5px;
}
.cusat{
    width: 100%;
    height: 350px;
}
.booklist{
    display: flex;
    /* height: 250px;
    width: 210px;
    column-gap: 70px; */
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    
}
.userbutton{
    display: flex;
    width: fit-content;
    /* height: 10px; */
    height: 60px;
    /* background-color: #1e1f20; */
    padding-left: 15px;
    padding-bottom: 20px;
    border: none;
}
.dropdown{
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
}
.dropdowncontainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
}
.resources{
    width: 160px;
    height: 40px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    display: flex;
    /* align-items: center; */
    /* padding-top: 20px; */
    /* background-color: #d9008d; */
    

}
.vegburger{
    /* background-color: #d9008d; */
    height: 50px;
    width: 25px;
    padding-left: 50px;
}
.userbutton{
    
    /* background-color: #d9008d; */
    /* height: 100px; */
   width: fit-content;
   cursor: pointer;
}
/* Flexbox for input and button */
.search-container {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 300px; /* Adjust as needed */
}

/* Input Box Styling */
.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

/* Search Button Styling */
.search-button {
    background: #2c2c2c;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button img {
    width: 20px;
    height: 20px;
}

/* Button Hover Effect */
.search-button:hover {
    background: #0056b3;
}
